html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kanit";
  background: linear-gradient(#1e49c9, rgb(19, 22, 24)) no-repeat;
  background-size: cover;

}



.hr-w{
    width: 90%;
}

#navbg {
  background: rgba(30, 40, 80, 0.8); /* semi-transparent */
  backdrop-filter: blur(5px);
}
a{
    color:white;
    text-decoration: none;
}
section.hero {
  height: 100vh;

}

#miaminosavgif{
    width: 65%;
    height:90%;
    border-radius: 10px;
}


#glicingif{
    width: 55%;
    height:85%;
    border-radius: 10px;
}


button:hover {
  color: #ffc107; /* golden hover */
  transition: color 0.3s;
}