html, body{
    margin: 0;
    padding: 0;
    height: 100%;
 font-family: "Kanit";
}

.focontainer{
    background-image: linear-gradient( #1e49c9, rgb(0, 0, 0));
}
.hr-w{
    width: 85%;
}

#navbg{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}

a{
    color:white;
    text-decoration: none;
}
