#Adatved {
    background: rgba(30, 40, 80, 0.8);
}

.video-container {
    max-width: 50vh;
    width: 100%;
    max-height: 350px;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}

.video-container-2 {
    max-width: 40vh;
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}
#ar {
    content-visibility: auto;
    contain-intrinsic-size: 500px; 
}