html {min-height: 100%;}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kanit" /*sans-serif*/;
  font-display: swap;
  background: linear-gradient(#4170fa, rgb(10, 11, 12)) no-repeat;
  background-size: cover;
}
.hr-w { width: 90%;}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


#navbg {
  background: rgba(30, 40, 80, 0.8);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
}

.nav-link {
  color: #fff !important;
  font-size: 1.25rem;
  transition: 0.3s;
  padding: 10px 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  transform: translateY(-4px);
}

.nav-link span {
  position: relative;
  display: inline-block;
}

.nav-link span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background: #00d4ff;
  transition: 0.3s;
  transform: translateX(-50%);
}
.nav-link:hover span::after {
  width: 100%;
}

.dropdown-menu {
  background: #1e2850;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  color: #fff;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background: rgba(30, 40, 80,1);
  color: #00d4ff;
  
}

section.hero {
  height: 100vh;
}

main {
  padding-top: 90px;
}

.big-radio {
  transform: scale(1.5);
  margin-right: 5px;
}