.section-title {
  border-left: 4px solid #3498db;
  padding-left: 15px;
}

.card-custom {
  background: #1c1c1c;
  border: 1px solid #333;
  transition: transform 0.2s;
}

.card-custom:hover {
  transform: translateY(-5px);
  border-color: #474747;
}
img {
  width: 300px;
  height: 300px;
}
.szin{
    color: #3cf71f;
}