html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kanit";
  background: linear-gradient(#4170fa, rgb(10, 11, 12)) no-repeat;
  /* background: linear-gradient(#aec6cf, #1e49c9) no-repeat;*/
  background-size: cover;

}



.hr-w{
    width: 90%;
}

#navbg {
  background: rgba(30, 40, 80, 0.8); /* semi-transparent */
  backdrop-filter: blur(5px);
}
a{
    color:white;
    text-decoration: none;
}
section.hero {
  height: 100vh;
  

}

#miaminosavgif{
    width: 65%;
    height:90%;
    border-radius: 10px;
}


#glicingif{
    width: 55%;
    height:85%;
    border-radius: 10px;
}

.big-radio {
  transform: scale(1.5); 
  margin-right: 5px;     
}